<div id="graph">
    <div id="data" style="display: none;">
        <span class="inline"><dt>Category</dt><dd id="category"></dd></span>
        <span class="inline"><dt>Subcategory</dt><dd id="subcategory"></dd></span>
        <span class="inline"><dt>Stakeholders</dt><dd id="stakeholders"></dd></span>
        <dt>Idea</dt><dd id="idea"></dd>
    </div>
</div>
<div id="notGraph">
    <div id="legend">
        <h3>Legend</h3>
    </div>
    <div id="controls">
        <h2>Advanced</h2>
        <h3>Sort by:</h3>
        <ul>
            <li><input type="radio" name="sort" id="sortCat" value="category" checked="checked" /><label for="sortCat">Category</label></li>
            <li><input type="radio" name="sort" id="sortSubcat" value="subcategory" /><label for="sortSubcat">Subcategory</label></li>
            <li><input type="radio" name="sort" id="sortStake" value="stakeholders" /><label for="sortStake">Stakeholder</label></li>
            <li><input type="radio" name="sort" id="sortDay" value="day" /><label for="sortDay">Day</label></li>
        </ul>
        <h3>Color by:</h3>
        <ul>
            <li><input type="radio" name="color" id="colorCat" value="category" checked="checked" /><label for="colorCat">Category</label></li>
            <li><input type="radio" name="color" id="colorSubcat" value="subcategory" /><label for="colorSubcat">Subcategory</label></li>
            <li><input type="radio" name="color" id="colorDay" value="day" /><label for="colorDay">Day</label></li>
        </ul>
        <h3>Browser Speed:</h3>
        <ul>
            <% if params[:browser_speed] == 'fast' %>
            <li><input type="radio" name="speed" id="speedFast" value="fast" /><label for="speedFast">Fast</label></li>
            <% else %>
            <li><input type="radio" name="speed" id="speedMedium" value="medium" /><label for="speedMedium">Medium</label></li>
            <li><input type="radio" name="speed" id="speedSlow" value="slow" /><label for="speedSlow">Slow</label></li>
            <% end %>
        </ul>
        <input type="checkbox" name="showLabels" id="showLabels" /><label for="showLabels">Hide Labels</label><br />
        <input type="checkbox" name="veryDiffSubcatColors" id="veryDiffSubcatColors" /><label for="veryDiffSubcatColors">Very Different Subcategory Colors</label><br />
    </div>
</div>
<script> 
    Graph.config.sortAttr = '<%= params[:sort_attr] or "category" %>';
    Graph.config.colorAttr = '<%= params[:color_attr] or "category" %>';
    Graph.config.oldSortAttr = '<%= params[:sort_attr] or "category" %>';
    Graph.config.oldColorAttr = '<%= params[:color_attr] or "category" %>';
    browserSpeed = '<%= params[:browser_speed] or "medium" %>';
    Graph.config.browserSpeed = browserSpeed;
    $.getJSON('/graphs/<%= @graph.id %>.json', Graph.init);

    if (browserSpeed == 'slow' || browserSpeed == 'medium') {
        $("input[name=sort], input[name=color]").on("change", function(e) {
            Graph.config.sortAttr = $('input[name=sort]:checked').val();
            Graph.config.colorAttr = $('input[name=color]:checked').val();
            Graph.updateFoci();
            Graph.updateColorFoci();
            Graph.forceLayout.stop();
            $.get('/graphs/<%= @graph.id %>', { sort_attr: Graph.config.sortAttr, color_attr: Graph.config.colorAttr }, Graph.updateNodesFromData , 'html');
        });
    }

</script>
