<% if params[:embed] == 'true' %>
    <style>
        body {
            background-image: none;
        }
        body.density {
            width: 710px;
        }
        body.density #notGraph {
            display: block;
            margin: 0;
            margin-top: 1em;
            width: auto;
        }
        .panel {
            padding: 0.3em 0.4em 1em;
            display: inline-block;
            width: 214px;
            vertical-align: top;
        }
        #changeLayout {
            display: none;
        }
    </style>
<% end %>
<div id="graph">
    <div id="data" style="display: none;">
        <a href="#"><div id="dataClose">X</div></a>
        <span class="inline"><dt>Category</dt><dd id="category"></dd></span>
        <span class="inline"><dt>Subcategory</dt><dd id="subcategory"></dd></span>
        <span class="inline"><dt>Stakeholders</dt><dd id="stakeholders"></dd></span>
        <dt>Idea</dt><dd id="idea"></dd>
    </div>
</div>
<div id="notGraph">
    <div class="panel" id="legend">
        <h2>Legend</h2>
    </div>
    <% if @graph.questions %>
    <div class="panel" id="questions">
        <h2>Questions</h2>
        <ul>
            <%= render :partial => 'shared/line_items/question', :collection => @graph.questions %>
        </ul>
    </div>
    <% end %>
    <div class="panel" id="controls">
        <h2>Advanced</h2>
        <h3>Sort by:</h3>
        <ul>
            <li><input type="radio" name="sort" id="sortCat" value="category" checked="checked" /><label for="sortCat">Category</label></li>
            <li><input type="radio" name="sort" id="sortSubcat" value="subcategory" /><label for="sortSubcat">Subcategory</label></li>
            <li><input type="radio" name="sort" id="sortStake" value="stakeholders" /><label for="sortStake">Stakeholder</label></li>
        </ul>
        <h3>Color by:</h3>
        <ul>
            <li><input type="radio" name="color" id="colorCat" value="category" checked="checked" /><label for="colorCat">Category</label></li>
            <li><input type="radio" name="color" id="colorSubcat" value="subcategory" /><label for="colorSubcat">Subcategory</label></li>
        </ul>
        <h3>Browser Speed:</h3>
        <ul>
            <li><input type="radio" name="speed" id="speedFast" value="fast" /><label for="speedFast">Fast</label></li>
            <li><input type="radio" name="speed" id="speedMedium" value="medium" /><label for="speedMedium">Medium</label></li>
            <li><input type="radio" name="speed" id="speedSlow" value="slow" /><label for="speedSlow">Slow</label></li>
        </ul>
        <input type="checkbox" name="hideLabels" id="hideLabels" /><label for="hideLabels">Hide Labels</label><br />
    </div>
</div>
<button id="changeLayout">Tree View</button>
<div id="evidenceHub"><p>Visit the the Evidence Hub for Open Education Resources, which aims to provide an environment to systematically interrogate the Open Education movement on what are the people, projects, organizations, challenges, solutions and claims that scaffold the movement: <a target="_blank" href="http://ci.olnet.org/">http://ci.olnet.org</a></p></div>
<script> 
    Graph.id = <%= @graph.id %>;
    Graph.config.sortAttr = '<%= params[:sort_attr] or "category" %>';
    Graph.config.colorAttr = '<%= params[:color_attr] or "category" %>';
    Graph.config.oldSortAttr = '<%= params[:sort_attr] or "category" %>';
    Graph.config.oldColorAttr = '<%= params[:color_attr] or "category" %>';
    Graph.config.browserSpeed =  '<%= params[:browser_speed] or "medium" %>';
    Graph.config.layout =  '<%= params[:layout] or "density" %>';
    Graph.init();
</script>
