<li><a href="#" class="question" data-sort="<%= question.sort_by %>" data-color="<%= question.color_by %>" data-hide-labels="<%= question.hide_labels ? 't' : 'f' %>" data-selected-idea="<%= question.selected_idea_id %>"><%= question.content %></a></li>
